{% extends 'patient/base.html' %}

{% load static %}

<!--For CSS-->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/patient/general.css' %}">
{% endblock stylesheet %}

{% block title %} Patient-General {% endblock title %}

{% block head %} General {% endblock head %}

{% block content%}


<div class="con container-1">
   <center><h1>Calculate your BMI</h1> </center> <hr><br>
   <form action="" method="post">
        {% csrf_token %}
        <label for="">Enter your Weight (in Kg):</label>
        <input type="text" name="weight"><br><br>

        <label for="">Enter your Height (in Cm):</label>
        <input type="text" name="height"><br><br>

        <button type="submit">Calculate</button><br><br>

        <label for="">Result:</label>
        <input type="text" value="{{result}}  {{out}}" name="result" >

   </form>
</div>

<div class="con container-2 " >
        <center><h1>Add Data</h1></center> <hr><br>
        <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Add">
                
        </form>
</div>

<canvas id="myChart" width="600" height="200"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for data in data %} '{{data.calories_burnt}}', {% endfor %}],
        datasets: [{
            label: 'calories_burnt',
            data: [{% for data in data %} '{{data.water_consumption}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{% endblock content %}


